@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
    font-family: "Outfit", sans-serif;
}

@theme {
    --color-primary: #e6ccff ;
}

::-webkit-scrollbar {
    display: none;
}

.sidebar-input::placeholder {
  color: #9CA3AF;
}
